@model List<Microsoft.AspNetCore.Identity.IdentityRole>
@{ ViewData["Title"] = "Upravljanje ulogama";
                Layout = "~/Views/Shared/_Layout.cshtml"; }
<div class="container">
    <h1>Upravljanje ulogama</h1>
    <form method="post" asp-action="AddRole" asp-controller="RoleManager">
        <div class="input-group">
            <input name="roleName" class="form-control w-25 mr-5">
            <span class="input-group-btn">
                <button class="btn btn-info">Dodaj ulogu</button>
            </span>
        </div>
    </form>

    <table class="table table-striped mt-5">
        <thead>
            <tr>

                <th>Id</th>
                <th>Usloga</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
<tr>
    <td>@role.Id</td>
    <td>@role.Name</td>
</tr>
}

        </tbody>
    </table>
</div>