@page
@model LoginModel

@{ ViewData["Title"] = "Prijava";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}
<style>
    .btn-login {
        background-color: #518bdc;
        outline: none;
        color: #fff;
        font-size: 14px;
        height: auto;
        font-weight: normal;
        padding: 8px 0;
        text-transform: uppercase;
        border-color: #518bdc;
    }

        .btn-login:hover,
        .btn-login:focus {
            color: #fff;
            background-color: #96B9EA;
            border-color: #96B9EA;
        }

    div.login-form-icon {
        margin-top: 10px;
        text-align: center;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <section>
                <div class="login-form-icon">
                    <i class="fas fa-user-circle fa-9x text-secondary"></i>
                </div>
                <form id="account" method="post">

                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email">Email</label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password">Lozinka</label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    @*<div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Prijavi se</button>
                        </div>*@
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6" style="float:none;margin:auto;">
                                <button type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login">Prijavi se</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Zaboravili ste lozinku?</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>
    <div class="col-md-12">
        @{ if ((Model.ExternalLogins?.Count ?? 0) != 0)
            {
                <h5 class="text-center">Prijavite se preko drugih servisa</h5>
                <hr />
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div class="row justify-content-center">
                        <div class="col-sm-6 mb-sm-3">
                            <button type="submit" value="Facebook" name="provider" class="btn btn-facebook">
                                <i class="fab fa-facebook-f"></i> Facebook
                            </button>
                        </div>
                        <div class="col-sm-6">
                            <button type="submit" value="Google" name="provider" class="btn btn-google">
                                <i class="fab fa-google"></i> Google
                            </button>
                        </div>
                    </div>
                </form> } }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
