@page
@model RegisterModel
@{ ViewData["Title"] = "Registration";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml"; }

<style>
    .btn-register {
        background-color: #518bdc;
        outline: none;
        color: #fff;
        font-size: 14px;
        height: auto;
        font-weight: normal;
        padding: 8px 0;
        text-transform: uppercase;
        border-color: #518bdc;
    }

        .btn-register:hover,
        .btn-register:focus {
            color: #fff;
            background-color: #96B9EA;
            border-color: #96B9EA;
        }

    div.login-form-icon {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="login-form-icon">
                <i class="fas fa-user-circle fa-9x text-secondary"></i>
            </div>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Input.FirstName"></label>
                            <input asp-for="Input.FirstName" class="form-control" />
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Input.LastName"></label>
                            <input asp-for="Input.LastName" class="form-control" />
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Input.PhoneNumber"></label>
                            <input asp-for="Input.PhoneNumber" class="form-control" />
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Input.Adress"></label>
                            <input asp-for="Input.Adress" class="form-control" />
                            <span asp-validation-for="Input.Adress" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                @*<div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Registruj se</button>
                    </div>*@
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6" style="float:none;margin:auto;">
                            <button type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register">Register</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
