@model UserManagement.MVC.Models.Utisak
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" asp-route-id="@Model.UtisakId" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UtisakId" />
            <input type="hidden" asp-for="Kreirano" />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Ocjena" class="control-label"></label>
                        <input asp-for="Ocjena" class="form-control" />
                        <span asp-validation-for="Ocjena" class="text-danger"></span>
                    </div>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Komentar" class="control-label"></label>
                                <input asp-for="Komentar" class="form-control" />
                                <span asp-validation-for="Komentar" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 offset-md-3">
                            <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                        </div>
                    </div>
        </form>
    </div>
</div>
